@import "base/_general.scss";
@import "smart-grid.scss";

.wrapper {
  @include wrapper();
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #22252E;
  background-color: #ffffff;
}